<table class="vid-list">
  <tbody>
    <% @videos.each do |vid| %>
          <tr>
            <td>
              <a class="page-nav" href="/videos/<%= vid.id %>"><%= vid.title %></a>
            </td>
            <td>
              <%= form_tag("videos/#{vid.id}/edit", method: "get") do %>
                <%= submit_tag("EDIT") %>
              <% end %>
            </td>
            <td>
              <%= form_tag("videos/#{vid.id}", method: "delete") do %>
                <%= submit_tag("DELETE") %>
                <% end %>
            </td>  
          </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag("/videos", method: "post") do %>
  <table>
    <tbody>
      <tr>
        <td><%= label_tag('video[title]', 'Title:') %></td>
        <td><%= text_field_tag('video[title]') %></td>
      </tr>
      <tr>
        <td><%= label_tag('video[url]', 'URL:') %></td>
        <td><%= text_field_tag('video[url]') %></td>
      </tr>
      <tr>
        <td><%= label_tag('video[desc]', 'Description:') %></td>
        <td><%= text_field_tag('video[desc]') %></td>
      </tr>
      <tr>
        <td><%= submit_tag("submit") %></td>
      </tr>
    </tbody>
  </table>
<% end %>