<%= render partial: "helpers/header" %>

<h1><%= @vid.title %></h1>

<iframe width="420" height="315" src=<%= "#{@vid.url}" %>></iframe>

<div class="desc">
  <%= @vid.desc %>
</div>

<br><br>
<h3>Add a Comment:</h3>


<%= render partial: "comments/comment_form", locals: {location: @vid.id, type: "videos"} %>

<br><br>
<h3>Comments:</h3>

<%= render partial: "comments/comments_table", locals: {comments: @comments, vid_id: @vid.id} %>
